@charset "UTF-8";

@import "normalize";

html,body {
    line-height: 1.6;
    font-size: 16px;
}
.wrapper {
    padding: 0 0.7em;
    max-width: 900px;
    margin: 0 auto;
}
.title {
    background: #e6c477;
    color: #f2f2f2;
    position: relative;
    padding: 0.5em;
}
.subtitle {
    background: #c1170c;
    position: absolute;
    top: -1em;
    left: -0.5em;
    padding: 0.1em;
    font-size: 60%;
}
.subtitle::after {
    position: absolute;
    top: 34px;
    left: 0px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #c1170c transparent transparent;
}
.note {
    font-size: 80%;
    padding: 0.5em;
    border: 1px solid #cccccc;
    background: #f2f2f2;
}
.copy-url {
  padding: 0.5em;
  display: block;
  background: #007bff;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 3em;
}
.copy-url:hover {
  background: #0069d9;
}
%ignore-value {
  width: 3em;
}
.ignore-guard {
  @extend %ignore-value;
}
.add-ignore-if {
  @extend %ignore-value;
}

.disabled {
  color: #999999;
}
.result {
  font-size: 1.2em;
  font-weight: bold;
}